* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    padding: .4rem .8rem;
    background-color: #12171e;
    transition: all 0.5s ease;
}

.navbar.active {
    width: 250px;
}

.navbar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%; 
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.navbar.navbar.active #btn {
    left: 90%;
}

.navbar .top .logo {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    pointer-events: none;
    color: #fff;
    opacity: 0;
}

.navbar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.navbar ul li {
    position: relative;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    list-style-type: none;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 0.8rem;
}

.navbar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}

.navbar ul li a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
}

.navbar .nav-item {
    opacity: 0;
}

.navbar.active .nav-item {
    opacity: 1;
}